NET "green[0]" LOC = P1;
NET "green[0]" IOSTANDARD = LVTTL;
NET "green[1]" LOC = P2;
NET "green[1]" IOSTANDARD = LVTTL;
NET "green[2]" LOC = P5;
NET "green[2]" IOSTANDARD = LVTTL;
NET "green[3]" LOC = P6;
NET "green[3]" IOSTANDARD = LVTTL;
NET "green[4]" LOC = P7;
NET "green[4]" IOSTANDARD = LVTTL;
NET "green[5]" LOC = P8;
NET "green[5]" IOSTANDARD = LVTTL;
NET "green[6]" LOC = P9;
NET "green[6]" IOSTANDARD = LVTTL;
NET "green[7]" LOC = P10;
NET "green[7]" IOSTANDARD = LVTTL;

NET "col[0]" LOC = P11;
NET "col[0]" IOSTANDARD = LVTTL;
NET "col[1]" LOC = P12;
NET "col[1]" IOSTANDARD = LVTTL;
NET "col[2]" LOC = P14;
NET "col[2]" IOSTANDARD = LVTTL;
NET "col[3]" LOC = P15;
NET "col[3]" IOSTANDARD = LVTTL;
NET "col[4]" LOC = P16;
NET "col[4]" IOSTANDARD = LVTTL;
NET "col[5]" LOC = P17;
NET "col[5]" IOSTANDARD = LVTTL;
NET "col[6]" LOC = P21;
NET "col[6]" IOSTANDARD = LVTTL;
NET "col[7]" LOC = P22;
NET "col[7]" IOSTANDARD = LVTTL;
